&.mdc-amber {
  background-color: $amber;
  * {
    color: black;
  }
}
&.mdc-dark-amber {
  background-color: $amber-700;
  * {
    color: black;
  }
}
&.mdc-light-amber {
  background-color: $amber-300;
  * {
    color: black;
  }
}
&.mdc-blue-grey {
  background-color: $blue-grey;
  * {
    color: white;
  }
}
&.mdc-dark-blue-grey {
  background-color: $blue-grey-700;
  * {
    color: white;
  }
}
&.mdc-light-blue-grey {
  background-color: $blue-grey-300;
  * {
    color: black;
  }
}
&.mdc-blue {
  background-color: $blue;
  * {
    color: white;
  }
}
&.mdc-dark-blue {
  background-color: $blue-700;
  * {
    color: white;
  }
}
&.mdc-light-blue {
  background-color: $blue-300;
  * {
    color: black;
  }
}
&.mdc-cyan {
  background-color: $cyan;
  * {
    color: black;
  }
}
&.mdc-dark-cyan {
  background-color: $cyan-700;
  * {
    color: white;
  }
}
&.mdc-light-cyan {
  background-color: $cyan-300;
  * {
    color: black;
  }
}
&.mdc-deep-orange {
  background-color: $deep-orange;
  * {
    color: white;
  }
}
&.mdc-dark-deep-orange {
  background-color: $deep-orange-700;
  * {
    color: white;
  }
}
&.mdc-light-deep-orange {
  background-color: $deep-orange-300;
  * {
    color: black;
  }
}
&.mdc-deep-purple {
  background-color: $deep-purple;
  * {
    color: white;
  }
}
&.mdc-dark-deep-purple {
  background-color: $deep-purple-700;
  * {
    color: white;
  }
}
&.mdc-light-deep-purple {
  background-color: $deep-purple-300;
  * {
    color: white;
  }
}
&.mdc-green {
  background-color: $green;
  * {
    color: black;
  }
}
&.mdc-dark-green {
  background-color: $green-700;
  * {
    color: white;
  }
}
&.mdc-light-green {
  background-color: $green-300;
  * {
    color: black;
  }
}
&.mdc-grey {
  background-color: $grey;
  * {
    color: black;
  }
}
&.mdc-dark-grey {
  background-color: $grey-700;
  * {
    color: white;
  }
}
&.mdc-light-grey {
  background-color: $grey-300;
  * {
    color: black;
  }
}
&.mdc-indigo {
  background-color: $indigo;
  * {
    color: white;
  }
}
&.mdc-dark-indigo {
  background-color: $indigo-700;
  * {
    color: white;
  }
}
&.mdc-light-indigo {
  background-color: $indigo-300;
  * {
    color: white;
  }
}
&.mdc-light-blue {
  background-color: $light-blue;
  * {
    color: black;
  }
}
&.mdc-dark-light-blue {
  background-color: $light-blue-700;
  * {
    color: white;
  }
}
&.mdc-light-light-blue {
  background-color: $light-blue-300;
  * {
    color: black;
  }
}
&.mdc-light-green {
  background-color: $light-green;
  * {
    color: black;
  }
}
&.mdc-dark-light-green {
  background-color: $light-green-700;
  * {
    color: white;
  }
}
&.mdc-light-light-green {
  background-color: $light-green-300;
  * {
    color: black;
  }
}
&.mdc-lime {
  background-color: $lime;
  * {
    color: black;
  }
}
&.mdc-dark-lime {
  background-color: $lime-700;
  * {
    color: black;
  }
}
&.mdc-light-lime {
  background-color: $lime-300;
  * {
    color: black;
  }
}
&.mdc-orange {
  background-color: $orange;
  * {
    color: black;
  }
}
&.mdc-dark-orange {
  background-color: $orange-700;
  * {
    color: black;
  }
}
&.mdc-light-orange {
  background-color: $orange-300;
  * {
    color: black;
  }
}
&.mdc-pink {
  background-color: $pink;
  * {
    color: white;
  }
}
&.mdc-dark-pink {
  background-color: $pink-700;
  * {
    color: white;
  }
}
&.mdc-light-pink {
  background-color: $pink-300;
  * {
    color: white;
  }
}
&.mdc-purple {
  background-color: $purple;
  * {
    color: white;
  }
}
&.mdc-dark-purple {
  background-color: $purple-700;
  * {
    color: white;
  }
}
&.mdc-light-purple {
  background-color: $purple-300;
  * {
    color: white;
  }
}
&.mdc-red {
  background-color: $red;
  * {
    color: white;
  }
}
&.mdc-dark-red {
  background-color: $red-700;
  * {
    color: white;
  }
}
&.mdc-light-red {
  background-color: $red-300;
  * {
    color: black;
  }
}
&.mdc-teal {
  background-color: $teal;
  * {
    color: white;
  }
}
&.mdc-dark-teal {
  background-color: $teal-700;
  * {
    color: white;
  }
}
&.mdc-light-teal {
  background-color: $teal-300;
  * {
    color: black;
  }
}
&.mdc-yellow {
  background-color: $yellow;
  * {
    color: black;
  }
}
&.mdc-dark-yellow {
  background-color: $yellow-700;
  * {
    color: black;
  }
}
&.mdc-light-yellow {
  background-color: $yellow-300;
  * {
    color: black;
  }
}