<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.colegawin.room111"
    versionCode = "10"
    version     = "1.0.0" >
  <name>Room 111</name>
  <author>Cole Gawin</author>
  <platform name="ios">  
<icon src="images/1.jpg" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="images/1.jpg" platform="ios" width="60" height="60" />
<icon src="images/1.jpg" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="images/1.jpg" platform="ios" width="76" height="76" />
<icon src="images/1.jpg" platform="ios" width="152" height="152" />
<icon src="images/1.jpg" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
<icon src="images/1.jpg" platform="ios" width="29" height="29" />
<icon src="images/1.jpg" platform="ios" width="58" height="58" />
<icon src="images/1.jpg" platform="ios" width="87" height="87" />

<!-- Spotlight Icon -->
<icon src="images/1.jpg" platform="ios" width="40" height="40" />
<icon src="images/1.jpg" platform="ios" width="80" height="80" />
<icon src="images/1.jpg" platform="ios" width="120" height="120" />
  </platform>
  <platform name="android">
      <icon src="images/1.jpg" platform="android" qualifier="ldpi" />
<icon src="images/1.jpg" platform="android" qualifier="mdpi" />
<icon src="images/1.jpg" platform="android" qualifier="hdpi" />
<icon src="images/1.jpg" platform="android" qualifier="xhdpi" />
<icon src="images/1.jpg" platform="android" qualifier="xxhdpi" />
<icon src="images/1.jpg" platform="android" qualifier="fr-xxhdpi" />
    </platform>
</widget>
